.header {
  background: var(--footer-bg-color);
  padding: 1rem 0;
  text-align: center;

  &__logo {
    font-size: 1.5rem;
    margin: 0;
  }

  &__nav {
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

    &-link {
      color: white;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
