<div class="container">
  <h2 class="user-list__title">Список пользователей</h2>
  <div class="user-list">
    @for(user of users?.data; track user.id){ @if(user) {
    <div class="users">
      <div class="user-card">
        <img [src]="user.avatar" />
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <p>{{ user.email }}</p>
      </div>
    </div>
    }@else {
    <p>Пользователи не найдены</p>
    } }
  </div>
  <mat-paginator [length]="100" [pageSize]="6"> </mat-paginator>
</div>
